[defaults]
inventory      = /etc/ansible/hosts
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 5
poll_interval  = 15
#sudo_user      = root
transport      = smart
module_lang    = C
gathering = smart
#sudo_exe = sudo
timeout = 10
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins
fact_caching = memory
host_key_checking = False
roles_path = vendor/roles:roles/
hash_behaviour = merge
pipelining = True
fact_caching = jsonfile
fact_caching_connection = /var/tmp/ansible-facts
fact_caching_timeout = 86400
library= ./library
#stdout_callback = json
deprecation_warnings=False
[ssh_connection]
#ssh_args = -F ssh_config
scp_if_ssh = True
